@page "/fontawesome"

<h3>fontawesome</h3>

<i class="fa fa-angry"></i>
<i class="fa fa-arrow-up"></i>
<i class="fa fa-award"></i>
<i class="fa fa-thumbs-up"></i>

<h3>From css</h3>
<p class="foo">
    
</p>


<style>
    .foo::before {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f007";  
    }
</style>

@code {
    
}