@page "/orphans"
@attribute [Authorize]

<div class="flex items-center mb-10">
    <div class="mr-5 text-blue-800">
        <svg class="h-12 w-12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100">
           <path d="M26.679,29.132c4.542,0,8.221-3.68,8.221-8.218c0-4.539-3.679-8.219-8.221-8.219c-4.537,0-8.219,3.681-8.219,8.219  S22.142,29.132,26.679,29.132z" fill="currentColor"/>
           <path d="M46.615,20.217c-1.5-0.686-3.276-0.027-3.963,1.474c-0.203,0.45-3.28,6.589-8.484,10.623  c-2.099-1.048-4.568-1.673-7.489-1.673c-2.918,0-5.388,0.625-7.486,1.673c-5.205-4.033-8.28-10.172-8.484-10.623  c-0.688-1.501-2.462-2.16-3.962-1.474c-1.501,0.687-2.162,2.46-1.474,3.962c2.101,4.595,6.421,11.773,12.369,16.125V60.77  l1.291,25.268c0.034,0.701,0.632,1.27,1.333,1.27h2.888c0.7,0,1.298-0.568,1.334-1.27l1.289-25.268h1.808l1.29,25.268  c0.034,0.701,0.635,1.27,1.334,1.27h2.887c0.702,0,1.3-0.568,1.334-1.27l1.289-25.268V40.304  c5.948-4.352,10.269-11.53,12.371-16.125C48.776,22.677,48.115,20.903,46.615,20.217z" fill="currentColor"/>
           <circle cx="73.419" cy="20.915" r="8.219" fill="currentColor"/>
           <path d="M94.825,23.747c0.556-1.554-0.255-3.264-1.808-3.82c-1.557-0.554-3.268,0.256-3.822,1.81  c-0.039,0.116-2.891,6.417-8.41,10.499c-2.135-0.999-4.572-1.594-7.366-1.594c-2.793,0-5.233,0.595-7.369,1.594  c-5.521-4.081-8.37-10.383-8.409-10.499c-0.557-1.554-2.271-2.364-3.82-1.81c-1.555,0.557-2.364,2.267-1.811,3.82  c1.786,5.001,6.17,11.895,12.815,15.995v9.481l-6.269,15.667c-0.255,0.642,0.098,1.16,0.787,1.16h5.598l1.021,19.986  c0.037,0.701,0.636,1.27,1.336,1.27h2.94c0.701,0,1.301-0.568,1.338-1.27l1.02-19.986h1.646l1.022,19.986  c0.033,0.701,0.631,1.27,1.332,1.27h2.941c0.704,0,1.3-0.568,1.334-1.27l1.021-19.986h5.601c0.69,0,1.042-0.519,0.784-1.16  L82.01,49.223v-9.481C88.654,35.642,93.04,28.748,94.825,23.747z" fill="currentColor"/>
       </svg>
    </div>
    
     <h3 class="text-blue-800 font-semibold text-5xl">Orphans</h3>
</div>


    
<div>
    <OrphanDataGrid />
</div>





@code {



}
